.addNewsWrap {
  display: flex;
  width: 100vw;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addNewsH1 {
  color: #108121;
}
.addNewsH1 {
  letter-spacing: 0.2rem;
}
.addNewsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.addNewsLabel {
  font-weight: bold;
}
.adminDashboardInput {
  width: 100%;
  background-color: #eee;
}
.addNewsTextarea {
  width: 100%;
  height: 20rem;
  background-color: #eee;
}
.addNewsButton {
  background-color: #4e9b45;
  color: white;
  border: none;
  border-radius: 5px;
}
.noAccess {
  font-size: 5vh;
  text-align: center;
  line-height: 100vh;
}
.popupHidden {
  display: none;
}
#popupButton.popupButtonGreen {
  background-color: #4e9b45;
}
#popupButton.popupButtonRed {
  background-color: #c32222;
}
#popupButton:hover {
  color: yellow;
}
@media (min-width: 320px) {
  .addNewsH1 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .addNewsForm {
    width: 90%;
  }
  .addNewsLabel {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  .adminDashboardInput {
    height: 2rem;
    margin: 0.5rem 0;
  }
  .addNewsTextarea {
    width: 100%;
    margin: 0.5rem 0;
  }
  .addNewsButton {
    height: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    line-height: 0.9rem;
    letter-spacing: 0.1rem;
  }
}
@media (min-width: 700px) {
  .addNewsForm {
    width: 66%;
  }
}
@media (min-width: 1300px) {
  .addNewsH1 {
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
  }
  .addNewsLabel {
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
  }
  .adminDashboardInput {
    height: 3rem;
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  .addNewsTextarea {
    width: 100%;
    margin: 1rem 0;
    font-size: 1.1rem;
  }
  .addNewsButton {
    height: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    line-height: 0.9rem;
    letter-spacing: 0.2rem;
  }
}
