.searchNewsWrap {
  padding: 1rem 0;
}
.searchNews {
  text-align: center;
  letter-spacing: 0.1rem;
  border: solid 1px black;
}
.searchNewsButton {
  letter-spacing: 0.1rem;
  background: black;
  border: none;
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}
.news {
  margin-bottom: 2rem;
}
.removeNewsWrap {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.removeNewsH1 {
  text-align: center;
  color: #c81529;
  letter-spacing: 0.2rem;
}
.deleteNewsSingleNews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-top: none;
  background-color: #aaa;
  word-wrap: break-word;
  text-align: center;
}
.deleteNewsSingleNews:first-of-type {
  border-top: 1px solid black;
}
.deleteNewsTitleWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px black;
  border-left: solid 1px black;
}
.deleteNewsTitle {
  word-wrap: break-all;
}
.deleteNews {
  border: none;
  background-color: #c32222;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.1rem;
}
.deleteNewsDateWrap {
  display: flex;
  justify-content: center;
}
.deleteNewsDate {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.deleteConfirmHidden {
  display: none;
}
#popupWrapDelete {
  display: flex;
  padding: 0 5%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  background: #eee;
  border: solid 2px black;
  max-width: 45rem;
}
#popupMessageDelete {
  text-align: center;
  letter-spacing: 0.1rem;
}
.popupButtonsWrap {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
#popupButtonDelete {
  height: 100%;
  background-color: #555;
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
#popupButtonDelete:first-of-type {
  background-color: #c32222;
}
#popupButtonDelete:hover {
  color: yellow;
}
@media (min-width: 320px) {
  .searchNews {
    width: 70vw;
    height: 2rem;
  }
  .searchNewsButton {
    width: 18vw;
    height: 2rem;
    margin-left: 3vw;
  }
  .removeNewsH1 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .news {
    width: 95%;
  }
  .deleteNewsSingleNews {
    min-width: 100%;
    max-width: 40rem;
  }
  .deleteNewsTitleWrap {
    width: 75%;
    min-height: 5rem;
    border-right: solid 1px black;
    border-left: solid 1px black;
  }
  .deleteNewsTitle {
    max-width: 95%;
    padding: 0.3rem 0;
    font-size: 0.7rem;
    word-break: break-word;
  }
  .deleteNewsDateWrap {
    width: 15%;
    height: 5rem;
  }
  .deleteNewsDate {
    font-size: 0.7rem;
    transform: rotate(270deg);
  }
  .deleteNews {
    height: 1.8rem;
    margin: 0.5rem 0.2rem;
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
  #popupWrapDelete {
    width: 70vw;
    height: 8rem;
  }
  #popupMessageDelete {
    margin-top: 5%;
  }
  #popupButtonDelete {
    width: 42%;
    margin-bottom: 5%;
  }
}
@media (min-width: 500px) {
  .deleteNewsTitleWrap {
    width: 65%;
  }
  .deleteNewsTitle {
    font-size: 0.8rem;
  }
  .deleteNewsDate {
    transform: rotate(0);
    font-size: 0.8rem;
  }
  .deleteNews {
    width: 20%;
    height: 1.9rem;
    font-size: 0.7rem;
    word-spacing: 100vw;
  }
}
@media (min-width: 800px) {
  .deleteNewsTitleWrap {
    width: 85%;
  }
  .deleteNews {
    width: 15%;
    margin: 0.5rem 0.4rem;
    padding: 0 0.3rem;
    word-spacing: 0;
  }
  .deleteNewsDateWrap {
    width: 15%;
  }
  #popupWrapDelete {
    height: 9rem;
    font-size: 1.2rem;
  }
  #popupMessageDelete {
    margin-top: 6%;
  }
  #popupButtonDelete {
    width: 38%;
    margin-bottom: 3%;
  }
}
@media (min-width: 900px) {
  #popupWrapDelete {
    height: 10rem;
  }
}
@media (min-width: 1000px) {
  #popupWrapDelete {
    height: 11rem;
  }
}
@media (min-width: 1300px) {
  .news {
    width: 85%;
  }
  .removeNewsH1 {
    font-size: 1.6rem;
  }
  .deleteNewsDate {
    font-size: 0.9rem;
  }
  .deleteNewsTitle {
    font-size: 0.9rem;
  }
  .deleteNews {
    height: 2rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
}
@media (min-width: 1600px) {
  .deleteNewsDate {
    font-size: 1rem;
  }
  .deleteNewsTitle {
    font-size: 1rem;
  }
  .deleteNews {
    height: 2.3rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  #popupWrapDelete {
    font-size: 1.4rem;
  }
}
