.star {
  position: absolute;
  color: #5dfe9e;
}

.star:first-of-type {
  left: 0;
}

.star:nth-of-type(2) {
  left: 10%;
}

.star:nth-of-type(3) {
  left: 20%;
}

.star:nth-of-type(4) {
  left: 30%;
}

.star:nth-of-type(5) {
  left: 40%;
}

.star:nth-of-type(6) {
  left: 50%;
}

.star:nth-of-type(7) {
  left: 60%;
}

.star:nth-of-type(8) {
  left: 70%;
}

.star:nth-of-type(9) {
  left: 80%;
}

.star:last-of-type {
  left: 90%;
}

.starWrap {
  height: 3rem;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  width: 100vw;
  height: 100vh;
  background-color: #fe6060;
}

.burger {
  position: fixed;
  top: 0.1rem;
  left: 0.5rem;
  font-size: 1.4rem;
  color: white;
  z-index: 2;
}

.artistName {
  font-family: "Kaushan Script", cursive;
  text-align: right;
  letter-spacing: 0.1rem;
  color: #fefb90;
}

.headerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.headerH2 {
  margin-left: 0.7rem;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: #fefb90;
}

.headerH1 {
  margin-top: -1.3rem;
  font-family: "Zhi Mang Xing", cursive;
  white-space: nowrap;
  color: #fefb90;
}

.headerText {
  margin-top: 0.5rem;
  font-family: "Vidaloka", serif;
  text-align: center;
  font-weight: 700;
  color: white;
  opacity: 0;
}

.scroll {
  position: fixed;
  left: 50vw;
  bottom: 2vh;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  z-index: 2;
}

@media (min-width: 320px) {
  .starWrap {
    width: 17rem;
    top: 9rem;
  }
  .star {
    font-size: 1.8rem;
  }
  .star:first-of-type {
    -webkit-transform: translate(-5vw, -30vh);
    transform: translate(-5vw, -30vh);
  }
  .star:nth-of-type(2) {
    -webkit-transform: translate(5vw, -50vh);
    transform: translate(5vw, -50vh);
  }
  .star:nth-of-type(3) {
    -webkit-transform: translate(15vw, -45vh);
    transform: translate(15vw, -45vh);
  }
  .star:nth-of-type(4) {
    -webkit-transform: translate(35vw, -35vh);
    transform: translate(35vw, -35vh);
  }
  .star:nth-of-type(5) {
    -webkit-transform: translate(42vw, -47vh);
    transform: translate(42vw, -47vh);
  }
  .star:nth-of-type(6) {
    -webkit-transform: translate(-42vw, 20vh);
    transform: translate(-42vw, 20vh);
  }
  .star:nth-of-type(7) {
    -webkit-transform: translate(-36vw, 37vh);
    transform: translate(-36vw, 37vh);
  }
  .star:nth-of-type(8) {
    -webkit-transform: translate(-34vw, 14vh);
    transform: translate(-34vw, 14vh);
  }
  .star:nth-of-type(9) {
    -webkit-transform: translate(-18vw, 32vh);
    transform: translate(-18vw, 32vh);
  }
  .star:last-of-type {
    -webkit-transform: translate(0, 18vh);
    transform: translate(0, 18vh);
  }
  .headerH2 {
    font-size: 3.5rem;
    letter-spacing: 0.6rem;
  }
  .headerH1 {
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }
  .headerText {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  .artistName {
    padding: 0.5rem 1.5rem 0.3rem 0;
    font-size: 0.9rem;
  }
}

@media (min-width: 400px) {
  .star:first-of-type {
    -webkit-transform: translate(-15vw, -30vh);
    transform: translate(-15vw, -30vh);
  }
  .star:nth-of-type(2) {
    -webkit-transform: translate(-5vw, -50vh);
    transform: translate(-5vw, -50vh);
  }
  .star:nth-of-type(3) {
    -webkit-transform: translate(15vw, -48vh);
    transform: translate(15vw, -48vh);
  }
  .star:nth-of-type(5) {
    -webkit-transform: translate(48vw, -47vh);
    transform: translate(48vw, -47vh);
  }
  .star:nth-of-type(6) {
    -webkit-transform: translate(-48vw, 20vh);
    transform: translate(-48vw, 20vh);
  }
  .star:nth-of-type(7) {
    -webkit-transform: translate(-42vw, 31vh);
    transform: translate(-42vw, 31vh);
  }
  .star:nth-of-type(8) {
    -webkit-transform: translate(-28vw, 14vh);
    transform: translate(-28vw, 14vh);
  }
  .star:nth-of-type(9) {
    -webkit-transform: translate(-8vw, 32vh);
    transform: translate(-8vw, 32vh);
  }
  .star:last-of-type {
    -webkit-transform: translate(8vw, 18vh);
    transform: translate(8vw, 18vh);
  }
}

@media (min-width: 600px) {
  .starWrap {
    top: 10.5rem;
  }
  .star:first-of-type {
    -webkit-transform: translate(-22vw, -25vh);
    transform: translate(-22vw, -25vh);
  }
  .star:nth-of-type(2) {
    -webkit-transform: translate(-10vw, -50vh);
    transform: translate(-10vw, -50vh);
  }
  .star:nth-of-type(4) {
    -webkit-transform: translate(40vw, -25vh);
    transform: translate(40vw, -25vh);
  }
  .star:nth-of-type(6) {
    -webkit-transform: translate(-48vw, 13vh);
    transform: translate(-48vw, 13vh);
  }
  .star:nth-of-type(7) {
    -webkit-transform: translate(-39vw, 26vh);
    transform: translate(-39vw, 26vh);
  }
  .star:nth-of-type(8) {
    -webkit-transform: translate(-18vw, 16vh);
    transform: translate(-18vw, 16vh);
  }
  .star:nth-of-type(9) {
    -webkit-transform: translate(8vw, 29vh);
    transform: translate(8vw, 29vh);
  }
  .star:last-of-type {
    -webkit-transform: translate(25vw, 18vh);
    transform: translate(25vw, 18vh);
  }
  .headerH2 {
    font-size: 4rem;
    letter-spacing: 0.8rem;
  }
  .headerH1 {
    font-size: 3.7rem;
    letter-spacing: 0.3rem;
  }
  .headerText {
    font-size: 1rem;
  }
}

@media (min-width: 950px) {
  .star:first-of-type {
    -webkit-transform: translate(-22vw, -35vh);
    transform: translate(-22vw, -35vh);
  }
  .star:nth-of-type(2) {
    -webkit-transform: translate(-10vw, -58vh);
    transform: translate(-10vw, -58vh);
  }
  .star:nth-of-type(4) {
    -webkit-transform: translate(35vw, -25vh);
    transform: translate(35vw, -25vh);
  }
  .star:nth-of-type(5) {
    -webkit-transform: translate(48vw, -47vh);
    transform: translate(48vw, -47vh);
  }
  .star:nth-of-type(6) {
    -webkit-transform: translate(-44vw, 2vh);
    transform: translate(-44vw, 2vh);
  }
  .star:nth-of-type(7) {
    -webkit-transform: translate(-39vw, 23vh);
    transform: translate(-39vw, 23vh);
  }
  .star:nth-of-type(8) {
    -webkit-transform: translate(-26vw, 13vh);
    transform: translate(-26vw, 13vh);
  }
  .star:nth-of-type(9) {
    -webkit-transform: translate(8vw, 26vh);
    transform: translate(8vw, 26vh);
  }
}

@media (min-width: 1100px) {
  .starWrap {
    top: 13rem;
  }
  .star {
    font-size: 2.1rem;
  }
  .star:first-of-type {
    -webkit-transform: translate(-30vw, -33vh);
    transform: translate(-30vw, -33vh);
  }
  .star:nth-of-type(2) {
    -webkit-transform: translate(-15vw, -55vh);
    transform: translate(-15vw, -55vh);
  }
  .star:nth-of-type(3) {
    -webkit-transform: translate(13vw, -45vh);
    transform: translate(13vw, -45vh);
  }
  .star:nth-of-type(4) {
    -webkit-transform: translate(35vw, -15vh);
    transform: translate(35vw, -15vh);
  }
  .star:nth-of-type(6) {
    -webkit-transform: translate(-48vw, 10vh);
    transform: translate(-48vw, 10vh);
  }
  .star:nth-of-type(9) {
    -webkit-transform: translate(8vw, 28vh);
    transform: translate(8vw, 28vh);
  }
  .star:last-of-type {
    -webkit-transform: translate(28vw, 18vh);
    transform: translate(28vw, 18vh);
  }
  .headerH2 {
    font-size: 4.8rem;
    letter-spacing: 0.8rem;
  }
  .headerH1 {
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
  }
  .headerText {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) {
  .starWrap {
    width: 25rem;
    top: 16rem;
  }
  .star {
    font-size: 2.3rem;
  }
  .headerH2 {
    font-size: 6rem;
  }
  .headerH1 {
    margin-top: -2rem;
    font-size: 5.7rem;
    letter-spacing: 0.4rem;
  }
  .headerText {
    font-size: 1.2rem;
  }
  .artistName {
    padding-right: 2rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1700px) {
  .starWrap {
    width: 28rem;
    top: 17rem;
  }
  .star {
    font-size: 2.6rem;
  }
  .headerH2 {
    font-size: 6.7rem;
  }
  .headerH1 {
    font-size: 6.3rem;
  }
  .headerText {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 1900px) {
  .starWrap {
    top: 19.5rem;
  }
  .headerH2 {
    font-size: 7.5rem;
  }
  .headerH1 {
    font-size: 7.2rem;
  }
  .headerText {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  position: relative;
  background-color: #33c36c;
}

.aboutH2 {
  margin: 0 auto;
  max-width: 95vw;
  font-family: "Cardo", serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #f7f771;
}

.aboutUl {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 auto;
  list-style-type: none;
}

.aboutLi {
  font-family: "Lato", sans-serif;
  text-align: center;
  letter-spacing: 0.1rem;
  color: white;
}

.aboutLiSpan {
  color: #f7f771;
}

.shine {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  -moz-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  -o-transform: skew(-20deg, 0deg);
  opacity: 0;
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(1%, rgba(255, 255, 255, 0.03)),
    color-stop(30%, rgba(255, 255, 255, 0.6)),
    color-stop(50%, rgba(255, 255, 255, 0.85)),
    color-stop(70%, rgba(255, 255, 255, 0.85)),
    color-stop(71%, rgba(255, 255, 255, 0.85)),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
}

.aboutBottom {
  width: 100vw;
  border-top: 1px solid #f7f771;
  position: relative;
  background-color: #3fb96c;
}

.aboutIcon {
  display: none;
}

.aboutButton,
.aboutButton2 {
  display: none;
}

.aboutBottomText {
  font-family: "Cardo", serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fefb90;
}

.aboutBottomText:first-of-type {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}

@keyframes move {
  0% {
    -webkit-transform: translateX(-15vw) skew(-20deg, 0deg);
    transform: translateX(-15vw) skew(-20deg, 0deg);
    opacity: 0;
  }
  2% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.6;
  }
  18% {
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateX(615vw) skew(-20deg, 0deg);
    transform: translateX(615vw) skew(-20deg, 0deg);
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(-15vw) skew(-20deg, 0deg);
    transform: translateX(-15vw) skew(-20deg, 0deg);
    opacity: 0;
  }
  2% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.6;
  }
  18% {
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateX(615vw) skew(-20deg, 0deg);
    transform: translateX(615vw) skew(-20deg, 0deg);
  }
}

@media (min-width: 320px) {
  .aboutH2 {
    padding-top: 1.5rem;
    font-size: 1.8rem;
  }
  .aboutUl {
    width: 90vw;
    padding: 1rem 0;
  }
  .aboutLi {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  .aboutLiSpan {
    font-size: 1.3rem;
  }
  .aboutImg {
    display: none;
  }
  .shine {
    width: 30%;
    animation: move 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation: move 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
    -moz-transform: skew(-10deg, 0deg);
    -moz-animation: move 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-delay: 1s;
    -ms-transform: skew(-10deg, 0deg);
    -ms-animation: move 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-delay: 1s;
    -o-transform: skew(-10deg, 0deg);
    -o-animation: move 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-delay: 1s;
  }
  .aboutBottomText {
    font-size: 0.8rem;
  }
  .aboutBottomText:first-of-type {
    padding-top: 0.7rem;
    font-size: 0.7rem;
  }
  .aboutBottomText:last-of-type {
    padding-bottom: 0.7rem;
  }
}

@media (min-width: 380px) {
  .aboutUl {
    width: 80vw;
  }
}

@media (min-width: 550px) {
  .aboutUl {
    width: 70vw;
  }
}

@media (min-width: 700px) {
  .aboutBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 6rem;
    padding: 0 0.8rem;
  }
  .aboutBottomText:first-of-type {
    padding-top: 0;
    margin-bottom: 0.2rem;
  }
  .aboutBottomText:last-of-type {
    padding-bottom: 0;
  }
  .shine {
    width: 10%;
    animation: move 7s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation: move 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
    -moz-transform: skew(-10deg, 0deg);
    -moz-animation: move 7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-delay: 1s;
    -ms-transform: skew(-10deg, 0deg);
    -ms-animation: move 7s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-delay: 1s;
    -o-transform: skew(-10deg, 0deg);
    -o-animation: move 7s;
    -o-animation-iteration-count: infinite;
    -o-animation-delay: 1s;
  }
}

@media (min-width: 800px) {
  .aboutH2 {
    font-size: 2rem;
  }
  .aboutLi {
    font-size: 1.2rem;
  }
  .aboutIcon {
    display: block;
    position: absolute;
    left: -4%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
    color: #e95252;
    /* opacity: 0.9; */
  }
  #phoneIcon {
    left: 0;
  }
  .aboutBottomInsideWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
  }
  .aboutBottomText {
    width: 90%;
    padding-left: 0.5rem;
    text-align: left;
    white-space: nowrap;
  }
  #aboutHoursText {
    padding-left: 1rem;
  }
  .aboutBottomInsideWrap:last-of-type {
    margin-left: 0.5rem;
  }
}

@media (min-width: 1000px) {
  .aboutH2 {
    margin-bottom: 4rem;
    padding-top: 2rem;
    font-size: 2.6rem;
  }
  .aboutUl {
    width: 50vw;
    padding: 1.5rem 0 5rem;
  }
  .aboutLi {
    margin-bottom: 1.2rem;
  }
  .aboutImg {
    display: block;
    width: 12rem;
    height: 12rem;
    padding: 0.2rem;
    border-radius: 50%;
    position: absolute;
    -webkit-box-shadow: 2px 2px 58px 28px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 58px 28px rgba(0, 0, 0, 0.75);
  }
  .aboutButton,
  .aboutButton2 {
    display: block;
    width: 12rem;
    height: 2.5rem;
    border-style: none;
    border-radius: 40px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
    color: white;
    background-color: #e95252;
    -webkit-box-shadow: 0 0 0 3px white, 0 0 0 7px #e95252;
    box-shadow: 0 0 0 3px white, 0 0 0 7px #e95252;
    opacity: 0.8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 10;
  }
  .aboutButton:hover,
  .aboutButton2:hover {
    color: #fefb90;
    -webkit-box-shadow: 0 0 0 4px white, 0 0 0 9px #e95252;
    box-shadow: 0 0 0 4px white, 0 0 0 9px #e95252;
    opacity: 1;
  }
  .aboutButton {
    position: absolute;
    top: 87%;
    left: 0;
    -webkit-transform: translate(20%, -50%);
    transform: translate(20%, -50%);
  }
  .aboutButton2 {
    position: absolute;
    top: 87%;
    right: 0;
    -webkit-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
  }
  .aboutImg:first-of-type {
    position: absolute;
    top: 57%;
    left: 0;
    -webkit-transform: translate(20%, -50%);
    transform: translate(20%, -50%);
  }
  .aboutImg:last-of-type {
    position: absolute;
    top: 57%;
    left: 100%;
    -webkit-transform: translate(-120%, -50%);
    transform: translate(-120%, -50%);
  }
  .aboutBottomText {
    font-size: 1rem;
  }
  .aboutBottomText:first-of-type {
    font-size: 0.8rem;
  }
  .aboutIcon {
    font-size: 2.4rem;
  }
}

@media (min-width: 1150px) {
  .aboutH2 {
    padding-top: 2.5rem;
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
  }
  .aboutUl {
    width: 60vw;
  }
  .aboutLi {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 1300px) {
  .aboutH2 {
    padding-top: 3rem;
    font-size: 3.2rem;
  }
  .aboutImg {
    width: 16rem;
    height: 16rem;
  }
  .aboutUl {
    width: 50vw;
  }
  .aboutLi {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .aboutButton {
    position: absolute;
    top: 91%;
    left: 0;
    -webkit-transform: translate(43%, -50%);
    transform: translate(43%, -50%);
  }
  .aboutButton2 {
    position: absolute;
    top: 91%;
    left: 100%;
    -webkit-transform: translate(-143%, -50%);
    transform: translate(-143%, -50%);
  }
}

@media (min-width: 1500px) {
  .aboutH2 {
    margin-bottom: 5rem;
    padding-top: 3.5rem;
    font-size: 3.5rem;
  }
  .aboutLi {
    margin-bottom: 2.2rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
  .aboutImg {
    width: 18rem;
    height: 18rem;
  }
  .aboutButton,
  .aboutButton2 {
    width: 14rem;
    height: 3rem;
    font-size: 1.1rem;
    -webkit-box-shadow: 0 0 0 4px white, 0 0 0 9px #e95252;
    box-shadow: 0 0 0 4px white, 0 0 0 9px #e95252;
  }
  .aboutButton:hover,
  .aboutButton2:hover {
    -webkit-box-shadow: 0 0 0 7px white, 0 0 0 13px #e95252;
    box-shadow: 0 0 0 7px white, 0 0 0 13px #e95252;
  }
  .aboutButton {
    position: absolute;
    top: 91%;
    left: 0;
    -webkit-transform: translate(40%, -50%);
    transform: translate(40%, -50%);
  }
  .aboutButton2 {
    position: absolute;
    top: 91%;
    left: 100%;
    -webkit-transform: translate(-140%, -50%);
    transform: translate(-140%, -50%);
  }
  .aboutBottom {
    padding: 1.3rem 0;
  }
  .aboutBottomText {
    font-size: 1.1rem;
  }
  .aboutBottomText:first-of-type {
    font-size: 0.9rem;
  }
  .aboutIcon {
    font-size: 2.5rem;
  }
}

@media (min-width: 1700px) {
  .aboutH2 {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }
  .aboutUl {
    width: 60vw;
  }
  .aboutLi {
    font-size: 1.8rem;
  }
  .aboutImg {
    width: 20rem;
    height: 20rem;
  }
  .aboutButton {
    position: absolute;
    top: 92%;
    left: 0;
    -webkit-transform: translate(48%, -50%);
    transform: translate(48%, -50%);
  }
  .aboutButton2 {
    position: absolute;
    top: 92%;
    left: 100%;
    -webkit-transform: translate(-148%, -50%);
    transform: translate(-148%, -50%);
  }
  .aboutBottomText {
    font-size: 1.5rem;
  }
  .aboutBottomText:first-of-type {
    font-size: 1.3rem;
  }
  .aboutIcon {
    left: -5%;
    font-size: 3rem;
  }
  #phoneIcon {
    left: -1%;
  }
  #clockIcon {
    left: -8%;
  }
}

.newsMainWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f35b;
  padding-bottom: 30rem;
}

.newsSection {
  width: 98vw;
  margin-left: 1vw;
  padding-bottom: 1rem;
  background-color: #f9f35b;
}

.newsH2 {
  margin: 0 auto;
  max-width: 95vw;
  font-family: "Cardo", serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #e95252;
}

.newsWrap {
  margin: 0 auto;
  background-color: #f9f35b;
  border-radius: 40px;
}

.homeNewsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto 1rem;
  word-wrap: break-word;
  border-radius: 40px;
  -webkit-transform-origin: top;
  transform-origin: top;
}

.homeNewsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #e95252;
  font-weight: 700;
  text-align: center;
  border-radius: 40px 40px 0 0;
}

.homeNewsTitleTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 2px solid #f9f35b;
  color: #fef962;
}

.homeNewsTitleDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  padding: 1rem 0;
  color: #fef962;
}

.homeNewsText {
  background-color: #fef962;
  border-top: none;
  border-radius: 0 0 40px 40px;
}

.homeNewsTextText {
  padding: 1rem;
  color: #ea5757;
}

.newsSideLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1px;
  height: 100%;
  margin-left: 2.5vw;
  background-color: #e7e149;
  position: relative;
}

.newsSideLineText {
  padding: 0 1px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  font-family: "Anton", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #e95252;
  background-color: #f9f35b;
}

.newsSideLineLock {
  width: 100vw;
  height: 1px;
  background-color: #e7e149;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: absolute;
  bottom: 0;
  left: -2.5vw;
}

@media (min-width: 320px) {
  .newsH2 {
    padding-top: 1.5rem;
  }
  .newsWrap {
    width: 97%;
    padding: 1rem 0;
  }
  .homeNewsWrap {
    width: 90vw;
  }
  .homeNewsTitle {
    word-break: break-word;
  }
  .homeNewsTitleTitle {
    width: 70%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1rem;
  }
  .homeNewsTitleDate {
    width: 30%;
    padding: 0 0.2rem;
    font-size: 0.8rem;
  }
  .homeNewsText {
    border: solid 1px #e95252;
    border-top: none;
  }
  .newsSideLineText {
    font-size: 0.7rem;
  }
}

@media (min-width: 800px) {
  .newsH2 {
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
  }
  .newsWrap {
    width: 80%;
  }
  .homeNewsWrap {
    max-width: 75%;
  }
  .homeNewsTitleTitle {
    width: 80%;
  }
  .homeNewsTitleDate {
    width: 20%;
  }
  .homeNewsText {
    border: solid 2px #e95252;
    border-top: none;
  }
  .newsSideLineText {
    font-size: 0.9rem;
  }
}

@media (min-width: 1000px) {
  .newsH2 {
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
  .newsWrap {
    width: 90vw;
  }
  .homeNewsWrap {
    max-width: 85vw;
  }
  .homeNewsTitleTitle {
    width: 85%;
  }
  .homeNewsTitleDate {
    width: 15%;
  }
}

@media (min-width: 1301px) {
  .newsH2 {
    padding-top: 3rem;
    -webkit-transform: translateX(300vw);
    transform: translateX(300vw);
  }
  .homeNewsWrap {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .homeNewsTitleTitle {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
  .homeNewsTitleDate,
  .homeNewsTextText {
    font-size: 1.2rem;
  }
}

@media (min-width: 1500px) {
  .newsH2 {
    font-size: 3.5rem;
  }
  .newsH2 {
    padding-top: 3.5rem;
  }
  .homeNewsTitleTitle {
    font-size: 1.4rem;
  }
  .homeNewsTitleDate,
  .homeNewsTextText {
    font-size: 1.3rem;
  }
}

@media (min-width: 1700px) {
  .newsH2 {
    font-size: 4rem;
  }
  .homeNewsTitleTitle {
    font-size: 1.5rem;
  }
  .homeNewsTitleDate,
  .homeNewsTextText {
    font-size: 1.4rem;
  }
}

@media (min-width: 1900px) {
  .newsH2 {
    font-size: 5rem;
  }
  .homeNewsTitleTitle {
    font-size: 1.6rem;
  }
  .homeNewsTitleDate,
  .homeNewsTextText {
    font-size: 1.5rem;
  }
  .newsSideLineText {
    font-size: 1.1rem;
  }
}

.gallerySection {
  width: 100vw;
  position: relative;
  background-color: #eee;
}

.imagesWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galleryImg {
  display: none;
}

.galleryButton {
  width: 12rem;
  height: 2.5rem;
  border-style: none;
  border-radius: 40px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  color: white;
  background-color: #33c36c;
  -webkit-box-shadow: 0 0 0 3px white, 0 0 0 7px #33c36c;
  box-shadow: 0 0 0 3px white, 0 0 0 7px #33c36c;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.galleryButton:hover {
  color: #fefb90;
  -webkit-box-shadow: 0 0 0 4px white, 0 0 0 9px #33c36c;
  box-shadow: 0 0 0 4px white, 0 0 0 9px #33c36c;
  opacity: 1;
}

@media (min-width: 320px) {
  .gallerySection {
    padding-bottom: 6rem;
  }
  .imagesWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .galleryImg:first-of-type,
  .galleryImg:nth-of-type(2),
  .galleryImg:nth-of-type(3),
  .galleryImg:nth-of-type(4) {
    display: block;
  }
  .galleryImg {
    width: 17rem;
    height: 17rem;
    margin-top: 2rem;
  }
  .galleryButton {
    position: absolute;
    top: 96.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 760px) {
  /* .galleryImg {
    display: block;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
  } */
}
/*# sourceMappingURL=styles.css.map */
