.aboutSection {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  background-color: $darkPurple;
}
.aboutH2 {
  margin: 0 auto;
  max-width: 95vw;
  font-family: "Cardo", serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $yellow;
}
.aboutUl {
  align-self: center;
  margin: 0 auto;
  list-style-type: none;
}
.aboutLi {
  font-family: "Lato", sans-serif;
  text-align: center;
  letter-spacing: 0.1rem;
  color: white;
}
.aboutLiSpan {
  color: $yellow;
}
.shine {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  -moz-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  -o-transform: skew(-20deg, 0deg);
  opacity: 0;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(1%, rgba(255, 255, 255, 0.03)),
    color-stop(30%, rgba(255, 255, 255, 0.85)),
    color-stop(50%, rgba(255, 255, 255, 0.85)),
    color-stop(70%, rgba(255, 255, 255, 0.85)),
    color-stop(71%, rgba(255, 255, 255, 0.85)),
    color-stop(100%, rgba(255, 255, 255, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.aboutBottom {
  width: 100vw;
  border-top: 1px solid $yellow;
  position: relative;
  background-color: $veryDarkPurple;
}
.aboutIcon {
  display: none;
}
.aboutButton,
.aboutButton2 {
  display: none;
}
.aboutBottomText {
  font-family: "Cardo", serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}
.aboutBottomText:first-of-type {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: $yellow;
}
@keyframes move {
  0% {
    transform: translateX(-15vw) skew(-20deg, 0deg);
    opacity: 0;
  }
  2% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.6;
  }
  18% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(615vw) skew(-20deg, 0deg);
  }
}

@-webkit-keyframes move {
  0% {
    transform: translateX(-15vw) skew(-20deg, 0deg);
    opacity: 0;
  }
  2% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.6;
  }
  18% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(615vw) skew(-20deg, 0deg);
  }
}

@-moz-keyframes move {
  0% {
    transform: translateX(-15vw) skew(-20deg, 0deg);
    opacity: 0;
  }
  2% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.6;
  }
  18% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(615vw) skew(-20deg, 0deg);
  }
}

@-ms-keyframes move {
  0% {
    transform: translateX(-15vw) skew(-20deg, 0deg);
    opacity: 0;
  }
  2% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.6;
  }
  18% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(615vw) skew(-20deg, 0deg);
  }
}

@-o-keyframes move {
  0% {
    transform: translateX(-15vw) skew(-20deg, 0deg);
    opacity: 0;
  }
  2% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.6;
  }
  18% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(615vw) skew(-20deg, 0deg);
  }
}
@media (min-width: 320px) {
  .aboutH2 {
    padding-top: 1.5rem;
    font-size: 1.8rem;
  }
  .aboutUl {
    width: 90vw;
    padding: 1rem 0;
  }
  .aboutLi {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  .aboutLiSpan {
    font-size: 1.3rem;
  }
  .aboutImg {
    display: none;
  }
  .shine {
    width: 30%;
    @include shineAnimation(5s);
  }
  .aboutBottomText {
    font-size: 0.8rem;
  }
  .aboutBottomText:first-of-type {
    padding-top: 0.7rem;
    font-size: 0.7rem;
  }
  .aboutBottomText:last-of-type {
    padding-bottom: 0.7rem;
  }
}
@media (min-width: 380px) {
  .aboutUl {
    width: 80vw;
  }
}
@media (min-width: 550px) {
  .aboutUl {
    width: 70vw;
  }
}
@media (min-width: 700px) {
  .aboutBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6rem;
    padding: 0 0.8rem;
  }
  .aboutBottomText:first-of-type {
    padding-top: 0;
    margin-bottom: 0.2rem;
  }
  .aboutBottomText:last-of-type {
    padding-bottom: 0;
  }
  .shine {
    width: 10%;
    @include shineAnimation(7s);
  }
}
@media (min-width: 800px) {
  .aboutH2 {
    font-size: 2rem;
  }
  .aboutLi {
    font-size: 1.2rem;
  }
  .aboutIcon {
    display: block;
    position: absolute;
    left: -4%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: $yellow;
  }
  #phoneIcon {
    left: 0;
  }
  .aboutBottomInsideWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .aboutBottomText {
    width: 90%;
    padding-left: 0.5rem;
    text-align: left;
    white-space: nowrap;
  }
  #aboutHoursText {
    padding-left: 1rem;
  }
  .aboutBottomInsideWrap:last-of-type {
    margin-left: 0.5rem;
  }
}
@media (min-width: 1000px) {
  .aboutH2 {
    margin-bottom: 4rem;
    padding-top: 2rem;
    font-size: 2.6rem;
  }
  .aboutUl {
    width: 50vw;
    padding: 1.5rem 0 5rem;
  }
  .aboutLi {
    margin-bottom: 1.2rem;
  }
  .aboutImg {
    display: block;
    width: 12rem;
    height: 12rem;
    padding: 0.2rem;
    border-radius: 50%;
    position: absolute;
    -webkit-box-shadow: 2px 2px 58px 28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 58px 28px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 58px 28px rgba(0, 0, 0, 0.75);
  }
  .aboutButton,
  .aboutButton2 {
    display: block;
    width: 12rem;
    height: 2.5rem;
    border-style: none;
    border-radius: 40px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
    color: white;
    background-color: $darkGray;
    box-shadow: 0 0 0 3px white, 0 0 0 7px $darkGray;
    opacity: 0.8;
    transition: 0.5s;
    z-index: 10;
    &:hover {
      box-shadow: 0 0 0 4px white, 0 0 0 9px $darkGray;
      opacity: 1;
    }
    & a {
      display: block;
      height: 100%;
      line-height: 2.5rem;
      text-decoration: none;
      color: white;
      &:hover {
        color: $yellow;
      }
    }
  }
  .aboutButton {
    @include center(87%, 0, 20%, -50%);
  }
  .aboutButton2 {
    position: absolute;
    top: 87%;
    right: 0;
    transform: translate(-20%, -50%);
  }
  .aboutImg:first-of-type {
    @include center(57%, 0, 20%, -50%);
  }
  .aboutImg:last-of-type {
    @include center(57%, 100%, -120%, -50%);
  }
  .aboutBottomText {
    font-size: 1rem;
  }
  .aboutBottomText:first-of-type {
    font-size: 0.8rem;
  }
  .aboutIcon {
    font-size: 2.4rem;
  }
}
@media (min-width: 1150px) {
  .aboutH2 {
    padding-top: 2.5rem;
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
  }
  .aboutUl {
    width: 60vw;
  }
  .aboutLi {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 1300px) {
  .aboutH2 {
    padding-top: 3rem;
    font-size: 3.2rem;
  }
  .aboutImg {
    width: 16rem;
    height: 16rem;
  }
  .aboutUl {
    width: 50vw;
  }
  .aboutLi {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .aboutButton {
    @include center(91%, 0, 43%, -50%);
  }
  .aboutButton2 {
    @include center(91%, 100%, -143%, -50%);
  }
}
@media (min-width: 1500px) {
  .aboutH2 {
    margin-bottom: 5rem;
    padding-top: 3.5rem;
    font-size: 3.5rem;
  }
  .aboutLi {
    margin-bottom: 2.2rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
  .aboutImg {
    width: 18rem;
    height: 18rem;
  }
  .aboutButton,
  .aboutButton2 {
    width: 14rem;
    height: 3rem;
    font-size: 1.1rem;
    box-shadow: 0 0 0 4px white, 0 0 0 9px $darkGray;
    & a {
      line-height: 3rem;
    }
    &:hover {
      box-shadow: 0 0 0 5px white, 0 0 0 13px $darkGray;
    }
  }
  .aboutButton {
    @include center(91%, 0, 40%, -50%);
  }
  .aboutButton2 {
    @include center(91%, 100%, -140%, -50%);
  }
  .aboutBottom {
    padding: 1.3rem 0;
  }
  .aboutBottomText {
    font-size: 1.1rem;
  }
  .aboutBottomText:first-of-type {
    font-size: 0.9rem;
  }
  .aboutIcon {
    font-size: 2.5rem;
  }
}
@media (min-width: 1700px) {
  .aboutH2 {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }
  .aboutUl {
    width: 60vw;
  }
  .aboutLi {
    font-size: 1.8rem;
  }
  .aboutImg {
    width: 20rem;
    height: 20rem;
  }
  .aboutButton {
    @include center(92%, 0, 48%, -50%);
  }
  .aboutButton2 {
    @include center(92%, 100%, -148%, -50%);
  }
  .aboutBottomText {
    font-size: 1.5rem;
  }
  .aboutBottomText:first-of-type {
    font-size: 1.3rem;
  }
  .aboutIcon {
    left: -5%;
    font-size: 3rem;
  }
  #phoneIcon {
    left: -1%;
  }
  #clockIcon {
    left: -8%;
  }
}
