.footerText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  text-align: center;
  background-color: black;
  color: white;
  border-top: 1px solid white;
}
#galleryPageFooter {
  background-color: $darkYellow;
  border-top: 1px solid black;
  color: black;
}
.footerSpan {
  margin: 0 0.3rem;
}

@media (min-width: 1700px) {
  .footerText {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }
}
