.gallerySection {
  width: 100vw;
  padding-top: 3rem;
  position: relative;
  /* background: rgb(28,27,27); */
  background: linear-gradient(0deg, rgba(28,27,27,1) 0%, rgba(70,37,69,1) 50%, rgba(28,27,27,1) 100%);
}
.imagesWrap {
  display: flex;
}
.galleryImg {
  display: none;
}
.galleryChevronLeft,
.galleryChevronRight {
  display: none;
  cursor: pointer;
}
.galleryButton {
  border-style: none;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  background-color: $yellow;
  box-shadow: 0 0 0 3px black, 0 0 0 7px $yellow;
  opacity: 0.9;
  transition: 0.5s;
  &:hover {
    box-shadow: 0 0 0 4px black, 0 0 0 9px $yellow;
    opacity: 1;
  }
  & a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
    &:hover {
      font-weight: bold;
    }
  }
}
@media (min-width: 320px) {
  .gallerySection {
    padding-bottom: 6rem;
  }
  .imagesWrap {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .galleryImg:first-of-type,
  .galleryImg:nth-of-type(2),
  .galleryImg:nth-of-type(3),
  .galleryImg:nth-of-type(4) {
    display: block;
  }
  .galleryImg {
    width: 95vw;
    height: 95vw;
    margin-top: 0.5rem;
    border-radius: 20px;
  }
  .galleryButton {
    width: 15rem;
    height: 2.5rem;
    font-size: 0.9rem;
    @include center(97%, 50%, -50%, -50%);
    & a {
      line-height: 2.5rem;
    }
  }
}
@media (min-width: 400px) {
  .galleryButton {
    @include center(97.7%, 50%, -50%, -50%);
  }
}
@media (min-width: 500px) {
  .gallerySection {
    padding-right: 1px;
  }
  .imagesWrap {
    display: grid;
    justify-items: center;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vw 50vw 50vw 50vw 50vw;
  }
  .galleryImg:nth-of-type(5),
  .galleryImg:nth-of-type(6),
  .galleryImg:nth-of-type(7),
  .galleryImg:nth-of-type(8),
  .galleryImg:nth-of-type(9),
  .galleryImg:nth-of-type(10) {
    display: block;
  }
  .galleryImg {
    width: 50vw;
    height: 50vw;
    margin: 0;
    padding-left: 1px;
  }
  .galleryButton {
    @include center(96.7%, 50%, -50%, -50%);
  }
}
@media (min-width: 600px) {
  .galleryButton {
    @include center(97.7%, 50%, -50%, -50%);
  }
}
@media (min-width: 800px) {
  .galleryButton {
    @include center(98%, 50%, -50%, -50%);
  }
}
@media (min-width: 950px) {
  .galleryButton {
    @include center(98.2%, 50%, -50%, -50%);
  }
}
@media (min-width: 1024px) {
  .imagesWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 19.7vw;
    padding-right: 1.1vw;
    padding-top: 2rem;
  }
  .imagesWrap .galleryImg {
    display: none;
    height: 100%;
    width: 19.5vw;
  }
  .galleryChevronLeft,
  .galleryChevronRight {
    display: block;
    position: absolute;
    font-size: 3rem;
    color: $lightPurple;
    &:hover {
      color: white;
    }
  }
  .galleryChevronLeft {
    @include center(84%, 3%, -50%, -50%);
  }
  .galleryChevronRight {
    @include center(84%, 97%, -50%, -50%);
  }
  .galleryButton {
    @include center(85%, 50%, -50%, -50%);
  }
}
@media (min-width: 1200px) {
  .galleryChevronLeft {
    @include center(88%, 3%, -50%, -50%);
  }
  .galleryChevronRight {
    @include center(88%, 97%, -50%, -50%);
  }
  .galleryButton {
    @include center(88%, 50%, -50%, -50%);
  }
}
@media (min-width: 1600px) {
  .galleryChevronLeft {
    font-size: 4rem;
    @include center(89%, 3%, -50%, -50%);
  }
  .galleryChevronRight {
    font-size: 4rem;
    @include center(89%, 97%, -50%, -50%);
  }
  .galleryButton {
    width: 18rem;
    height: 3rem;
    font-size: 1.2rem;
    @include center(89%, 50%, -50%, -50%);
    & a {
      line-height: 3rem;
    }
  }
}
@media (min-width: 1800px) {
  .galleryChevronLeft {
    @include center(91%, 3%, -50%, -50%);
  }
  .galleryChevronRight {
    @include center(91%, 97%, -50%, -50%);
  }
  .galleryButton {
    @include center(91%, 50%, -50%, -50%);
  }
}
