.galleryPageSection {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0.2rem 0 2rem;
  background-color: $yellow;
}
.galleryPageSection .galleryImg {
  display: block;
  margin: 0 auto 0.1rem;
  border-radius: 0;
  cursor: pointer;
}
.galleryPageButton {
  position: fixed;
  border: 1px solid $darkGray;
  top: 0.5rem;
  left: 0.5rem;
  background-color: black;
  & a {
    display: block;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $darkGray;
  }
  &:hover {
    border: 2px solid $darkGray;
  }
}
.galleryPageX {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: $darkGray;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 320px) {
  .galleryPageSection .galleryImg {
    width: 99vw;
    height: 99vw;
  }
  .galleryPageButton {
    width: 6rem;
    height: 2rem;
    & a {
      line-height: 1.9rem;
    }
  }
}
@media (min-width: 500px) {
  .galleryPageSection .galleryImg {
    width: 49.8vw;
    height: 49.8vw;
  }
}
@media (min-width: 1024px) {
  .galleryPageSection .galleryImg {
    width: 24.6vw;
    height: 24.6vw;
  }
}
@media (min-width: 1500px) {
  .galleryPageButton {
    width: 9rem;
    height: 2.2rem;
    & a {
      line-height: 2.1rem;
      font-size: 1rem;
      letter-spacing: 0.2rem;
    }
  }
}
@media (min-width: 1800px) {
  .galleryPageButton {
    width: 11rem;
    height: 2.4rem;
    & a {
      line-height: 2.2rem;
      font-size: 1.2rem;
    }
  }
  .galleryPageX {
    font-size: 3rem;
  }
}
