.star {
  position: absolute;
  color: $lightPurple;
}
.star:first-of-type {
  left: 0;
}
.star:nth-of-type(2) {
  left: 10%;
}
.star:nth-of-type(3) {
  left: 20%;
}
.star:nth-of-type(4) {
  left: 30%;
}
.star:nth-of-type(5) {
  left: 40%;
}
.star:nth-of-type(6) {
  left: 50%;
}
.star:nth-of-type(7) {
  left: 60%;
}
.star:nth-of-type(8) {
  left: 70%;
}
.star:nth-of-type(9) {
  left: 80%;
}
.star:last-of-type {
  left: 90%;
}
.starWrap {
  height: 3rem;
  position: absolute;
  @include center(50%, 50%, -50%, -50%);
}
.header {
  width: 100vw;
  height: 100vh;
  background-color: $darkGray;
}
.artistName {
  font-family: "Kaushan Script", cursive;
  text-align: right;
  letter-spacing: 0.1rem;
  color: $yellow;
}
.headerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include center(50%, 50%, -50%, -50%);
}
.headerH2 {
  margin-left: 0.7rem;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: $yellow;
}
.headerH1 {
  margin-top: -1.3rem;
  font-family: "Zhi Mang Xing", cursive;
  white-space: nowrap;
  color: $yellow;
}
.headerText {
  margin-top: 0.5rem;
  font-family: "Vidaloka", serif;
  text-align: center;
  font-weight: 700;
  color: white;
  opacity: 0;
}
@media (min-width: 320px) {
  .starWrap {
    width: 17rem;
    top: 9rem;
  }
  .star {
    font-size: 1.8rem;
  }
  .star:first-of-type {
    transform: translate(-5vw, -30vh);
  }
  .star:nth-of-type(2) {
    transform: translate(5vw, -50vh);
  }
  .star:nth-of-type(3) {
    transform: translate(15vw, -45vh);
  }
  .star:nth-of-type(4) {
    transform: translate(35vw, -35vh);
  }
  .star:nth-of-type(5) {
    transform: translate(42vw, -47vh);
  }
  .star:nth-of-type(6) {
    transform: translate(-42vw, 20vh);
  }
  .star:nth-of-type(7) {
    transform: translate(-36vw, 37vh);
  }
  .star:nth-of-type(8) {
    transform: translate(-34vw, 14vh);
  }
  .star:nth-of-type(9) {
    transform: translate(-18vw, 32vh);
  }
  .star:last-of-type {
    transform: translate(0, 18vh);
  }
  .headerH2 {
    font-size: 3.5rem;
    letter-spacing: 0.6rem;
  }
  .headerH1 {
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }
  .headerText {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  .artistName {
    padding: 0.5rem 1.5rem 0.3rem 0;
    font-size: 0.9rem;
  }
}
@media (min-width: 400px) {
  .star:first-of-type {
    transform: translate(-15vw, -25vh);
  }
  .star:nth-of-type(2) {
    transform: translate(-5vw, -45vh);
  }
  .star:nth-of-type(3) {
    transform: translate(15vw, -43vh);
  }
  .star:nth-of-type(5) {
    transform: translate(48vw, -42vh);
  }
  .star:nth-of-type(6) {
    transform: translate(-48vw, 20vh);
  }
  .star:nth-of-type(7) {
    transform: translate(-42vw, 31vh);
  }
  .star:nth-of-type(8) {
    transform: translate(-28vw, 14vh);
  }
  .star:nth-of-type(9) {
    transform: translate(-8vw, 32vh);
  }
  .star:last-of-type {
    transform: translate(8vw, 18vh);
  }
}
@media (min-width: 600px) {
  .starWrap {
    top: 10.5rem;
  }
  .star:first-of-type {
    transform: translate(-22vw, -25vh);
  }
  .star:nth-of-type(2) {
    transform: translate(-10vw, -50vh);
  }
  .star:nth-of-type(4) {
    transform: translate(40vw, -25vh);
  }
  .star:nth-of-type(6) {
    transform: translate(-48vw, 13vh);
  }
  .star:nth-of-type(7) {
    transform: translate(-39vw, 26vh);
  }
  .star:nth-of-type(8) {
    transform: translate(-18vw, 16vh);
  }
  .star:nth-of-type(9) {
    transform: translate(8vw, 29vh);
  }
  .star:last-of-type {
    transform: translate(25vw, 18vh);
  }
  .headerH2 {
    font-size: 4rem;
    letter-spacing: 0.8rem;
  }
  .headerH1 {
    font-size: 3.7rem;
    letter-spacing: 0.3rem;
  }
  .headerText {
    font-size: 1rem;
  }
}
@media (min-width: 950px) {
  .star:first-of-type {
    transform: translate(-22vw, -35vh);
  }
  .star:nth-of-type(2) {
    transform: translate(-10vw, -58vh);
  }
  .star:nth-of-type(4) {
    transform: translate(35vw, -25vh);
  }
  .star:nth-of-type(5) {
    transform: translate(48vw, -47vh);
  }
  .star:nth-of-type(6) {
    transform: translate(-44vw, 2vh);
  }
  .star:nth-of-type(7) {
    transform: translate(-39vw, 23vh);
  }
  .star:nth-of-type(8) {
    transform: translate(-26vw, 13vh);
  }
  .star:nth-of-type(9) {
    transform: translate(8vw, 26vh);
  }
}
@media (min-width: 1100px) {
  .starWrap {
    top: 13rem;
  }
  .star {
    font-size: 2.1rem;
  }
  .star:first-of-type {
    transform: translate(-30vw, -33vh);
  }
  .star:nth-of-type(2) {
    transform: translate(-15vw, -55vh);
  }
  .star:nth-of-type(3) {
    transform: translate(13vw, -45vh);
  }
  .star:nth-of-type(4) {
    transform: translate(35vw, -15vh);
  }
  .star:nth-of-type(6) {
    transform: translate(-48vw, 10vh);
  }
  .star:nth-of-type(9) {
    transform: translate(8vw, 28vh);
  }
  .star:last-of-type {
    transform: translate(28vw, 18vh);
  }
  .headerH2 {
    font-size: 4.8rem;
    letter-spacing: 0.8rem;
  }
  .headerH1 {
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
  }
  .headerText {
    font-size: 1.1rem;
  }
}
@media (min-width: 1400px) {
  .starWrap {
    width: 25rem;
    top: 16rem;
  }
  .star {
    font-size: 2.3rem;
  }
  .headerH2 {
    font-size: 6rem;
  }
  .headerH1 {
    margin-top: -2rem;
    font-size: 5.7rem;
    letter-spacing: 0.4rem;
  }
  .headerText {
    font-size: 1.2rem;
  }
  .artistName {
    padding-right: 2rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1700px) {
  .starWrap {
    width: 28rem;
    top: 17rem;
  }
  .star {
    font-size: 2.6rem;
  }
  .headerH2 {
    font-size: 6.7rem;
  }
  .headerH1 {
    font-size: 6.3rem;
  }
  .headerText {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }
}
@media (min-width: 1900px) {
  .starWrap {
    top: 24rem;
  }
  .headerH2 {
    font-size: 10rem;
  }
  .headerH1 {
    font-size: 7.8rem;
  }
  .headerText {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
}
