$gentleRed: #fe6060;
$darkGentleRed: #e95252;
$paleYellow: #fefb90;
$gentleYellow: #f7f771;
$newsYellow: #fef962;
$darkYellow: #f9f35b;
$intenseYellow: #fef200;
$paleMint: #5dfe9e;
$mint: #33c36c;
$darkMint: #3fb96c;
